.social__Links {
    a {
        font-size: 16px;
        color: #5b6c8f;
        &:not(:last-child) {
            margin-right: 25px;
        }
        &:hover {
            color: var(--base_color);
        }
    }
    &.style2 {
        a {
            color: $home_body;
            &:hover {
                color: var(--base_color);
            }
        }
    }
}

.theme_mailChimp {
    // height: 50px;
    background: transparent;
    flex-wrap: nowrap;
    border-radius: 5px;
    position: relative;
    form {
        display: grid;
        grid-template-columns: auto 120px;
        grid-gap: 0px;
        border: 0;
        border-radius: 0px;
        @media #{$small_mobile} {
            grid-template-columns: auto;
        }
    }
    .form-control {
        background: $white;
        color: var(--text_color);
        font-weight: 400;
        padding-left: 20px;
        border-radius: 0;
        height: 50px;
        border: 0;
        font-family: $font1;
        font-size: 14px;
        border: 1px solid var(--border_color);
        border-right: 0;
        @media #{$small_mobile} {
            border-radius: 5px;
        }
        &::placeholder {
            color: #676e8b;
            font-size: 14px;
        }
        &:focus {
            box-shadow: none !important;
            z-index: 1;
        }
    }
    button {
        font-size: 14px;
        font-weight: 500;
        color: $white;
        background: var(--base_color);
        text-transform: capitalize;
        border-radius: 0px !important;
        padding: 0 18px;
        box-shadow: none !important;
        // width: 100px;
        position: relative;
        right: 0;
        top: 0;
        border: 0;
        height: 50px;
        font-family: $font1;
        @media #{$small_mobile} {
            border-radius: 5px !important;
        }
    }
    .info {
        font-size: 14px;
        font-weight: 500;
        color: var(--text_color);
        position: absolute;
        left: 0;
        top: 110%;
    }
}

.theme_mailChimp2 {
    background: transparent;
    flex-wrap: nowrap;
    border-radius: 5px;
    position: relative;
    form {
        display: flex;
        flex-direction: column;
        border-radius: 0px;
        justify-content: flex-start;
        align-items: flex-start;
        grid-gap: 10px;
        @media #{$small_mobile} {
            grid-template-columns: auto;
        }
    }
    .form-control {
        background: $white;
        color: var(--text_color);
        font-weight: 400;
        padding-left: 20px;
        border-radius: 5px;
        height: 50px;
        border: 0;
        font-family: $font1;
        font-size: 14px;
        border-right: 0;
        border: 0;
        @media #{$small_mobile} {
            border-radius: 5px;
        }
        &::placeholder {
            color: #687083;
            font-size: 14px;
        }
        &:focus {
            box-shadow: none !important;
            z-index: 1;
        }
    }
    button {
        font-size: 14px;
        font-weight: 700;
        color: $white;
        background: var(--base_color);
        text-transform: uppercase;
        border-radius: 5px !important;
        padding: 0 38px;
        box-shadow: none !important;
        position: relative;
        right: 0;
        top: 0;
        border: 0;
        height: 50px;
        font-family: $font1;
        width: 100%;
        line-height: 50px;
    }
    .info {
        font-size: 14px;
        font-weight: 500;
        color: var(--text_color);
        position: absolute;
        left: 0;
        bottom: -25px;
    }
}
