.order_confirm_banner {
    .order_conrim_banner {
        margin-bottom: 91px;
        @media #{$tab} {
            margin-bottom: 40px;
        }
    }
}

.order_confirm_email {
    border: 1px solid var(--border_color);
    padding: 16px 25px;
    p {
        font-size: 15px;
        font-weight: 400;
        a {
            font-weight: 500;
            color: var(--base_color);
            &:hover {
                text-decoration: underline;
            }
        }
    }
}