.profile_tabs {
    grid-gap: 10px;
    .nav-item {
        .nav-link {
            border-radius: 3px;
            background-color: #f5f8fa;
            font-size: 16px;
            font-weight: 700;
            border: 0;
            color: var(--text_color);
            transition: 0.3s;
            padding: 8px 16px;
            &.active,
            &:hover {
                background: var(--base_color);
                color: $white;
            }
        }
    }
}

.profile_white_box {
    padding: 60px 60px 60px;
    @media #{$tab} {
        padding: 30px;
    }
}

.gj-datepicker-md [role="right-icon"] {
    position: absolute;
    top: 14px;
    font-size: 20px;
    color: #b1b1b1;
    right: 20px;
}

.dashboard_account_wrapper {
    display: grid;
    grid-template-columns: auto 210px;
    grid-gap: 90px;
    padding-right: 60px;
    @media #{$tab} {
        padding-right: 0;
    }
}

.tkt_uploader {
    border: 1px dashed #e3e6ef;
    border-radius: 5px;
    padding: 16px 10px;
    input {
        opacity: 0;
    }
    p {
        a {
            color: var(--base_color);
            &:hover {
                text-decoration: underline;
            }
        }
    }
}