@media print {
        @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
    :root {
    --padding: 20px 40px;
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14.4px;
    color: #000;
}

*,
    ::after,
    ::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: currentColor;
}

table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    width: 100%;
    font-family: "Lato", sans-serif;
}

.text-uppercase {
    text-transform: uppercase;
}

.badge {
    position: absolute;
    top: 10px;
    right: -40px;
    font-size: 18px;
    background: rgb(251, 71, 71);
    color: #fff;
    padding: 5px 10px;
    min-width: 150px;
    transform: rotate(39deg);
    text-align: center;
    text-transform: capitalize;
}

.badge.bg-green {
    background: #01B871;
}

.header {
    border-bottom: 1px solid #494949;
    padding: var(--padding);
    padding-top: 50px;
}

.header table td h3 {
    font-size: 25.2px;
    line-height: 1.5;
    color: #010101;
    opacity: 0.2;
}

.header table td h5 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #000;
}

.header table td p {
    margin-bottom: 3px;
    color: #000;
}

.main-body {
    max-width: 870px;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.main-content {
    padding: var(--padding);
}

.info {
    display: flex;
    margin-bottom: 15px;
}

.info-left {
    width: 66.6666666667%;
    flex: 0 0 auto;
    padding-right: 10px;
}

.info-left .card {
    padding: 10px;
    display: flex;
    background-color: #E7EDF1;
    border: 1px solid #A9BAC2;
    border-radius: 2px;
    margin-bottom: 12px;
}

.info-left .card h4 {
    font-weight: 700;
    font-size: 21.6px;
    margin-bottom: 8px;
}

.info-left .card h6 {
    font-size: 16.2px;
    margin-bottom: 3px;
}

.info-left .card p:last-child {
    margin-top: 10px;
    font-weight: 700;
    font-style: italic;
}

.info-left .card .left {
    padding-right: 10px;
}

.info-left .card .right {
    padding-left: 20px;
    border-left: 1px solid #AAACAD;
}

.info-right {
    width: 33.3333333333%;
    flex: 0 0 auto;
}

.info-details {
    border: 1px solid #A9BAC2;
    background-color: #E7EDF1;
    display: flex;
    padding: 10px;
}

.info-details>* {
    flex-grow: 1;
    font-size: 18px;
}

.info table {
    border-radius: 2px;
    overflow: hidden;
}

.info table:not(:last-child) {
    margin-bottom: 14px;
}

.info table.bg-dark {
    background-color: #32393D;
}

.info table.bg-dark .text-red td {
    color: #FF4B4B;
}

.info table.bg-dark td {
    color: #fff;
    border-color: #55595A;
    opacity: 1;
}

.info table tr td {
    border: 1px solid #A9BAC2;
    padding: 5px 10px;
    opacity: 0.9;
}

.info table tr td:first-child {
    font-weight: bold;
    opacity: 1;
}

.invoice-list {
    margin-bottom: 20px;
}

.invoice-list thead tr {
    background-color: #32393D;
}

.invoice-list thead tr th {
    color: #fff;
    font-size: 16.2px;
}

.invoice-list tr th,
.invoice-list tr td {
    border-right: 1px solid #DDDEDE;
    padding: 10px 12px;
    text-align: left;
    color: #000;
}

.invoice-list tr th:last-child,
.invoice-list tr td:last-child {
    border-right: none;
}

.invoice-list tr th:first-child,
.invoice-list tr td:first-child {
    text-align: center;
}

.invoice-list tr th span,
.invoice-list tr td span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.invoice-list tbody tr:nth-child(2n+1) {
    background-color: #E7EDF1;
}

.invoice-list tbody tr td {
    font-size: 12.6px;
    color: #000;
}

.invoice-list tbody tr td:first-child {
    color: #000;
}

.invoice-list tbody tr td:nth-child(2) {
    color: #515359;
}

.invoice-list tfoot tr {
    border-top: 1px solid #DDDEDE;
}

.invoice-list tfoot tr td:first-child {
    text-align: end;
}

.align-self {
    display: flex;
    min-height: calc(100vh - 380px);
    max-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.signature {
    border: 1px solid #A9BAC2;
    border-radius: 2px;
    width: 100%;
    background-color: #F3F7F8;
    padding: 15px;
    text-align: center;
}
        
}