
#blogImgShow{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 150px;
}

.img_div {
    display: flex;
    height: 153px;
    width: 500px;
}
.anchore_color{
    color: #415094;
}
