
.fade:not(.show) {
    opacity: 1;
}
.iconpicker-popover.popover {
    width: 90%!important;
}
.anchore_color{
    color: #415094;
}
.thumb_img_div {
    display: flex;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border_color);
}
#ThumbnailImg {
    max-height: 95px;
    max-width: 95%;
}