.global-seo-tab .nav {
  gap: 10px;
}
.global-seo-tab .nav-link {
  color: #415094;
  font-size: 12px;
  font-weight: 500;
  background: #fff;
  border-radius: 100px;
  display: inline-block;
  transition: 0.3s;
  padding: 7px 23px;
  white-space: nowrap;
  border: 1px solid #7C32FF;
  text-transform: uppercase;
  text-align: center;
}
.global-seo-tab .nav-link.active, .global-seo-tab .nav-link:hover {
  background: linear-gradient(90deg, #7C32FF 0%, #A235EC 70%, #C738D8 100%);
  color: #fff;
  border-color: transparent;
}
