
#blogImgShow{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 150px;
}

.img_div {
    display: flex;
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
}
.thumb_img_div {
    display: flex;
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border_color);
}
#ThumbnailImg {
    max-height: 95px;
    max-width: 95%;
}
/*  */



